#wpfooter {
  display: none;
}

#wpbody-content {
  padding-bottom: 0px !important;
}

/* RTL-specific rule (automatically loaded with rtl.css if you prefer) */
html[dir='rtl'] tr[data-plugin*='storm-clean-admin/storm-clean-admin.php'] {
  font-family: var(--storm-clean-admin-font-family), Tahoma, Arial, sans-serif;
}
