#storm-clean-admin-settings-link {
  color: white !important;
  background-color: #d30161;
}

#storm-clean-admin-docs-link {
  background-color: #6c35be;
}

#storm-clean-admin-settings-link:hover {
  color: white !important;
  background-color: #88043e;
}

#storm-clean-admin-docs-link:hover {
  background-color: #531bb2;
}

.storm-clean-admin-plugin-link {
  color: white !important;
  padding: 5px;
  border-radius: 5px;
}

.storm-clean-admin-plugin-link:hover,
.storm-clean-admin-plugin-link:active {
  color: white !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
