@import 'tailwindcss';
@import 'tw-animate-css';

/* @config "./tailwind.config.js"; */

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-cream-50);
  --foreground: var(--color-cream-950);
  --card: var(--color-cream-100);
  --card-foreground: var(--color-cream-900);
  --popover: var(--color-cream-50);
  --popover-foreground: var(--color-cream-950);
  --primary: var(--color-cream-500);
  --primary-foreground: var(--color-cream-50);
  --secondary: var(--color-cream-200);
  --secondary-foreground: var(--color-cream-900);
  --muted: var(--color-cream-100);
  --muted-foreground: var(--color-cream-700);
  --accent: var(--color-cream-300);
  --accent-foreground: var(--color-cream-950);
  --destructive: var(--color-cream-400);
  --destructive-foreground: var(--color-cream-950);
  --border: var(--color-cream-200);
  --input: var(--color-cream-200);
  --ring: var(--color-cream-400);
  --chart-1: var(--color-cream-300);
  --chart-2: var(--color-cream-400);
  --chart-3: var(--color-cream-500);
  --chart-4: var(--color-cream-600);
  --chart-5: var(--color-cream-700);
  --radius: 0.625rem;
  --sidebar: var(--color-cream-100);
  --sidebar-foreground: var(--color-cream-900);
  --sidebar-primary: var(--color-cream-500);
  --sidebar-primary-foreground: var(--color-cream-50);
  --sidebar-accent: var(--color-cream-300);
  --sidebar-accent-foreground: var(--color-cream-950);
  --sidebar-border: var(--color-cream-200);
  --sidebar-ring: var(--color-cream-400);
}

.dark {
  --background: var(--color-bunker-950);
  --foreground: var(--color-bunker-50);
  --card: var(--color-bunker-900);
  --card-foreground: var(--color-bunker-100);
  --popover: var(--color-bunker-950);
  --popover-foreground: var(--color-bunker-50);
  --primary: var(--color-bunker-700);
  --primary-foreground: var(--color-bunker-50);
  --secondary: var(--color-bunker-800);
  --secondary-foreground: var(--color-bunker-100);
  --muted: var(--color-bunker-900);
  --muted-foreground: var(--color-bunker-200);
  --accent: var(--color-bunker-700);
  --accent-foreground: var(--color-bunker-50);
  --destructive: var(--color-bunker-950);
  --destructive-foreground: var(--color-bunker-100);
  --border: var(--color-bunker-800);
  --input: var(--color-bunker-800);
  --ring: var(--color-bunker-700);
  --chart-1: var(--color-bunker-700);
  --chart-2: var(--color-bunker-800);
  --chart-3: var(--color-bunker-900);
  --chart-4: var(--color-bunker-950);
  --chart-5: var(--color-bunker-600);
  --sidebar: var(--color-bunker-900);
  --sidebar-foreground: var(--color-bunker-100);
  --sidebar-primary: var(--color-bunker-700);
  --sidebar-primary-foreground: var(--color-bunker-50);
  --sidebar-accent: var(--color-bunker-800);
  --sidebar-accent-foreground: var(--color-bunker-100);
  --sidebar-border: var(--color-bunker-800);
  --sidebar-ring: var(--color-bunker-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  /* === Fonts === */
  --font-sans: danafanum, ui-sans-serif, system-ui, sans-serif;
  --font-mono: danafanum, ui-monospace, SFMono-Regular, monospace;
  --font-serif: danafanum, ui-serif, Georgia, serif;

  /* === Custom Colors === */
  --color-cream-50: #fcf8f0;
  --color-cream-100: #f9eddb;
  --color-cream-200: #f1d8b7;
  --color-cream-300: #e8be89;
  --color-cream-400: #db924b;
  --color-cream-500: #d68039;
  --color-cream-600: #c86a2e;
  --color-cream-700: #a65228;
  --color-cream-800: #854227;
  --color-cream-900: #6c3822;
  --color-cream-950: #3a1b10;

  /* Bunker: black dark with very little cream */
  --color-bunker-50: #f8f7f6;
  --color-bunker-100: #eceae7;
  --color-bunker-200: #d6d2cb;
  --color-bunker-300: #b2ada3;
  --color-bunker-400: #8d877c;
  --color-bunker-500: #6e6a5e;
  --color-bunker-600: #57534a;
  --color-bunker-700: #454138;
  --color-bunker-800: #35322a;
  --color-bunker-900: #232017;
  --color-bunker-950: #18150e;
}

/* === Important wrapper === */
.storm-clean-admin-tw {
  @apply contents;
}

@scope (.storm-clean-admin-tw) {
  @tailwind utilities;
}

@keyframes bounce2 {
  0%,
  100% {
    translate: 0px 36px;
  }
  50% {
    translate: 0px 46px;
  }
}
@keyframes bounce3 {
  0%,
  100% {
    translate: 0px 46px;
  }
  50% {
    translate: 0px 56px;
  }
}
@keyframes umbral {
  0% {
    stop-color: #d3a5102e;
  }
  50% {
    stop-color: rgba(211, 165, 16, 0.519);
  }
  100% {
    stop-color: #d3a5102e;
  }
}
@keyframes partciles {
  0%,
  100% {
    translate: 0px 16px;
  }
  50% {
    translate: 0px 6px;
  }
}
#particles {
  animation: partciles 4s ease-in-out infinite;
}
#animatedStop {
  animation: umbral 4s infinite;
}
#bounce {
  animation: bounce2 4s ease-in-out infinite;
  translate: 0px 36px;
  animation-delay: 0s;
}
#bounce2 {
  animation: bounce3 4s ease-in-out infinite;
  translate: 0px 46px;
  animation-delay: 0.5s;
}
